*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


nav{
	margin: 0 auto;
	max-width: 90vw;
	height: 16vh;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
}

.img-h1{
	display: flex;
	flex: 0.8;
	align-items: center;
}

.img-h1 img{
	max-width: 7vw;
	height: 14vh;
	border-radius: 50%;
}

.img-h1 h1{
	font-size: 28px;
	color: #287573;
}



nav li{
	list-style: none;
	font-size: 20px;
}

nav li a{
	color: black;
	text-decoration: none;
	transition: text-decoration 0.5s ease-in-out;
}

nav li a:hover{
	text-decoration: underline;
}


nav .download{
	background-color: #287573;
	padding: 1vh 1vw;
	border-radius: 10px;
	margin-right: 1.5vw;
}
nav .download a{
	color: white;
}

/* main */

main .flex{
	display:flex
}


.para-bttn {
	margin-top: 15vh;
	margin-left: 6vw;
	flex: 1;
}

.para-bttn .first-para{
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 48px;
}

.para-bttn .snd-para{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 16px;
	margin-left: 2vw;
}


.bttn{
	margin-left: 2vw;
	margin-top: 11vh;
}

.para-bttn  .bttn .f-b{
	background-color: #287573;
	padding: 1vh 2vw;
	color: white;
	border-style: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	margin-right: 5vw;
}



.para-bttn  .bttn .s-b{
	border: 2px solid transparent;
	padding-top: 0.5vh;
	padding-bottom: 1vh;
	padding-left: 1.9vw;
	padding-right: 1.9vw;
	color: #287573;
	background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #FF52E5, #F6D242) border-box;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	border-radius: 10px;
}

main .flex .pic{
	margin-top: 2.5vh;
}

main .flex .pic .pic5{
	max-width: 60vw;
	max-height: 80vh;
}

main .pic6{
	position: absolute;
	max-width: 30vw;
	height: 42.5vh;
	left: 0;
	top: 70vh;
	z-index: -1;
}

main .pic7{
	position: absolute;
	max-width: 20vw;
	height: 40vh;
	right: 0;
	top: 90vh;
	z-index: -1;
}






main .ques{
	margin-top: 20vh;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #319997;
	margin-bottom: 7vh;
}

main .m-s-a{
	display: flex;
	justify-content: center;
	gap: 1vh 3.5vw;
	margin: 0 3vw;
}


main .m-s-a .mother{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

main .m-s-a .para{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(245, 229, 168, 0.25);
	border-radius: 10px;
	padding-top: 2vh;
	padding-bottom: 9vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

main .m-s-a .para p:first-child{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 4.5vh;
}

main .m-s-a .para p:last-child{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}


main .m-s-a .stethoscope{
	display: flex;
	flex-direction: column;
	align-items: center;
}


main .m-s-a .article{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.mother-icon, .stethoscope-icon, .article-icon{
	margin-bottom: 5vh;
}

main .fre-para{
	margin-top: 10vh;
}

main .fre-para  img{
	position: absolute;
	max-width: 30vw;
	height: 467px;
	left: 60px;
	top: 200vh;
	z-index: -100;
}


main .fre-para .quest-para{
	display: flex;
	flex-direction: column;
	text-align: center;

}

main .fre-para  .quest-para h4{
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #319997;
	margin-bottom: 3vh;
}

main .fre-para #para{
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 8vh;
}


main .fre-para .pa{
	display: grid;
	grid-template-columns: 1fr 1.5fr ;
	
}

main .fre-para .pa div p{
	background: rgba(245, 229, 168, 0.25);
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 2vh 1vw;
	margin-top: 2vh;
	margin-right: 4vw;
	margin-left: 2vw;
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 20px;
}

footer{
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
	background: #F1F5F6;
}

footer p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}

footer #f-buildlab{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
}


@media only screen and (max-width: 872px) {
	
	nav .img-h1 img{
		max-width: 7vw;
		height: 9vh;
		border-radius: 50%;
	}

	nav .img-h1 h1{
		font-size: 24px;
		color: #287573;
	}

	nav li{
		font-size: 18px;
	}

	nav .download{
		background-color: #287573;
		padding: 0.5vh 0.5vw;
		border-radius: 10px;
		margin-right: 0.7vw;
	}

	.para-bttn .first-para{
		font-size: 38px;
	}
	
	.para-bttn .snd-para{
		font-size: 13px;
	}


			/* main */

	.para-bttn  .bttn .f-b{
		display: block;
		margin-bottom: 2vh;
	}

	main .pic6{
		max-width: 15vw;
		height: 35vh;
		top: 60vh;
	}

	main .pic7{
		display: none
	}

	main .ques{
		font-size: 32px;
		margin-top: 8vh;
		margin-bottom: 15vh;
		
	}

	main .m-s-a .para p:first-child{
		font-size: 20px;
	}
	
	main .m-s-a .para p:last-child{
		font-size: 16px;
	}

	main .fre-para  img{
		max-width: 30vw;
		height: 467px;
		left: 60px;
		top: 190vh;
		z-index: -100;
	}

	main .fre-para  .quest-para h4{
		font-size: 32px;
	}

	main .fre-para #para{
		font-size: 16px;
	}

	main .fre-para .pa div p{
		font-size: 16px;
	}
	
	footer p{
		font-size: 16px;
	}
	
	footer #f-buildlab{
		font-size: 26px;
	}

}

@media only screen and (max-width: 880px) {
	.para-bttn {
		margin-top: 5vh;
	}

	main .pic7{
		top: 70vh;
	}

	main .fre-para  img{
		top: 160vh;
	}

}


@media only screen and (max-width: 700px) {
	main .fre-para  img{
		top: 200vh;
	}

}