*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


nav{
	margin: 0 auto;
	max-width: 90vw;
	height: auto;
	padding: 2vh 0;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
}

.img-h1{
	display: flex;
	flex: 0.8;
	align-items: center;
}

.img-h1 img{
	max-width: 7vw;
	height: auto;
	border-radius: 50%;
}

.img-h1 h1{
	font-size: 28px;
	color: #287573;
}

nav .lis{
	display: flex;
	align-items: center;
	justify-content: center;
}

nav .lis li{
	list-style: none;
	font-size: 20px;
	margin-left: 1.2vw;
}

nav li a{
	color: black;
	text-decoration: none;
	transition: text-decoration 0.5s ease-in-out;
}

nav li a:hover{
	text-decoration: underline;
}


nav .download{
	background-color: #287573;
	padding: 1vh 1vw;
	border-radius: 10px;
	margin-right: 1.5vw;
}
nav .download a{
	color: white;
}

/* main */

main .flex{
	display:flex
}


.para-bttn {
	margin-top: 15vh;
	margin-left: 6vw;
	flex: 1;
}

.para-bttn .first-para{
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 48px;
}

.para-bttn .snd-para{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 16px;
	margin-left: 2vw;
}


.bttn{
	margin-left: 2vw;
	margin-top: 11vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.para-bttn  .bttn .f-b{
	background-color: #287573;
	padding: 1vh 2vw;
	color: white;
	border-style: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	/* margin-right: 5vw; */
}



.para-bttn  .bttn .s-b{
	border: 2px solid transparent;
	padding-top: 0.5vh;
	padding-bottom: 1vh;
	padding-left: 1.9vw;
	padding-right: 1.9vw;
	color: #287573;
	background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #FF52E5, #F6D242) border-box;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	border-radius: 10px;
}

main .flex .pic{
	margin-top: 2.5vh;
}

main .flex .pic .pic5{
	max-width: 60vw;
	height: auto;
}

main .pic6{
	position: absolute;
	max-width: 30vw;
	height: auto;
	left: 0;
	top: 70vh;
	z-index: -1;
}

main .pic7{
	position: absolute;
	max-width: 20vw;
	height: auto;
	right: 0;
	top: 110vh;
	z-index: -1;

}


main .ques{
	margin-top: 20vh;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #319997;
	margin-bottom: 7vh;
}

main .m-s-a{
	display: flex;
	justify-content: center;
	gap: 1vh 3.5vw;
	margin: 0 3vw;
}


main .m-s-a .mother{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

main .m-s-a .para{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(245, 229, 168, 0.25);
	border-radius: 10px;
	padding-top: 2vh;
	padding-bottom: 9vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

main .m-s-a .para p:first-child{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 4.5vh;
}

main .m-s-a .para p:last-child{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}


main .m-s-a .stethoscope{
	display: flex;
	flex-direction: column;
	align-items: center;
}


main .m-s-a .article{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.mother-icon, .stethoscope-icon, .article-icon{
	max-width: 9vw;
	height: auto;
	margin-bottom: 5vh;
}

main .fre-para{
	margin-top: 10vh;
}

main .fre-para  img{
	position: absolute;
	max-width: 30vw;
	height: auto;
	left: 60px;
	top: 210vh;
	z-index: -100;
}


main .fre-para .quest-para{
	display: flex;
	flex-direction: column;
	text-align: center;

}

main .fre-para  .quest-para h4{
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #319997;
	margin-bottom: 3vh;
}

main .fre-para #para{
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 8vh;
}


main .fre-para .pa{
	display: grid;
	grid-template-columns: 1fr 1.5fr ;	
}

main .fre-para .pa div p{
	background: rgba(245, 229, 168, 0.25);
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 2vh 1vw;
	margin-top: 2vh;
	margin-right: 4vw;
	margin-left: 2vw;
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 20px;
}

			/* footer */

footer{
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
	background: #F1F5F6;
}

footer p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}

footer #f-buildlab{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
}



@media only screen and (max-width: 899px) {
	nav{
		display: block;
	}

	nav .img-h1{
		justify-content: center;
	}

	nav .lis{
		justify-content: center;
	}

	main .bttn{
		display: block;
	}


	main .para-bttn  .bttn .f-b{
		margin-bottom: 1.2vh;
	}

	main .fre-para  img{
		display: none;
	}
}

@media only screen and (max-width: 683px){
	main .flex{
		background-image: url(../images/Mom\ and\ child\ png.jpg);
		background-color: rgba(0, 0, 0, 0.4);
		background-blend-mode:multiply;
	}

	.para-bttn .first-para{
		color: white
	}

	.para-bttn .snd-para{
		color: white;

	}

	main .flex .pic .pic5{
		display: none;
	}

	main .ques{
		margin-top: 10vh;
	}

	main .m-s-a{
		display: block;
	}

	main .m-s-a .stethoscope{
		margin-top: 4vh;
	}


	main .m-s-a .article{
		margin-top: 4vh;
	}

	main .fre-para .pa{
		display: block;
	}
}


@media only screen and (max-width: 561px) {
		nav .lis li{
		font-size: 10px;
	}
}
