*{
	margin: 0;
	padding: 0;
}


/* header */
nav{
	margin: 0 auto;
	Width: 1300px;
	Height: 102px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
}

.img-h1{
	display: flex;
	flex: 0.8;
	align-items: center;
}

.img-h1 h1{
	font-size: 28px;
	color: #287573;
}


.img-h1 img{
	Width:100px;
	Height: 100px;
}

nav li{
	list-style: none;
	font-size: 20px;
}

nav li a{
	color: black;
	text-decoration: none;
	transition: text-decoration 0.5s ease-in-out;
}

nav li a:hover{
	text-decoration: underline;
}


nav .download{
	background-color: #287573;
	padding: 1vh 1vw;
	border-radius: 10px;
	margin-right: 1.5vw;
}
nav .download a{
	color: white;
}

/* main */



.para-bttn {
	margin-top: 8vh;
	margin-left: 8vw;
}

.para-bttn .first-para{
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 48px;
}

.para-bttn .snd-para{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 16px;
	margin-left: 2vw;
}

.bttn{
	margin-left: 2vw;
	margin-top: 11vh;
}

.para-bttn  .bttn .f-b{
	background-color: #287573;
	padding: 1vh 2vw;
	color: white;
	border-style: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	margin-right: 5vw;
	
}


.para-bttn  .bttn span{
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
	padding: 2vh 0.4vw;
	cursor: pointer;
	border-radius: 10.5px;
}

.para-bttn  .bttn span .s-b{
	border-style: none;
	padding-top: 0.5vh;
	padding-bottom: 1vh;
	padding-left: 1.7vw;
	padding-right: 1.7vw;
	background-color: white;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	border-radius: 5px;
}

.pic .pic1{
	position: absolute;
	width: 343px;
	height: 343px;
	left: 990px;
	top: 192px;
	border-radius: 50%;
}

.pic .pic2{
	position: absolute;
	width: 343px;
	height: 343px;
	left: 804px;
	top: 473px;
	border-radius: 50%;
}

.pic .pic3{
	position: absolute;
	width: 343px;
	height: 343px;
	left: 743px;
	top: 233px;
	border-radius: 50%;
}

.pic .pic4{
	position: absolute;
	width: 343px;
	height: 343px;
	left: 1033px;
	top: 425px;
	border-radius: 50%;
}

.pic .pic5{
	position: absolute;
	width: 538px;
	height: 525px;
	left: 802px;
	top: 243px;
	border-radius: 50%;
}

.pic .pic6{
	position: absolute;
	width: 343px;
	height: 343px;
	left: -187px;
	top: 574px;
	border-radius: 50%;
}

.pic .pic7{
	position: absolute;
	width: 343px;
	height: 343px;
	left: 1221px;
	top: 758px;
	border-radius: 50%;
}

main .ques{
	margin-top: 75vh;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #319997;
	margin-bottom: 20vh;
}

main .m-s-a{
	display: flex;
	justify-content: center;
	gap: 1vh 3.5vw;
}


main .m-s-a .mother{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

main .m-s-a .para{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(245, 229, 168, 0.25);
	border-radius: 10px;
	padding-top: 2vh;
	padding-bottom: 9vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

main .m-s-a .para p:first-child{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 4.5vh;
}

main .m-s-a .para p:last-child{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}


main .m-s-a .stethoscope{
	display: flex;
	flex-direction: column;
	align-items: center;
}


main .m-s-a .article{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.mother-icon, .stethoscope-icon, .article-icon{
	margin-bottom: 15vh;
}

